/*
Syntax error: File to import not found or unreadable: ./*.png.
              Load paths:
                Compass::SpriteImporter
                /Users/XXXVII/Work/aviasales.local/tp/tp_test/public/stylesheets/sass
                /Users/XXXVII/Work/aviasales.local/tp/tp_test/stylesheets
                /Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/compass-0.12.2/frameworks/compass/stylesheets
        on line 2 of ./stylesheets/layouts/header.scss
        from line 5 of ./stylesheets/style.scss

1: @import "vars";
2: @import "settings";
3: @import "inuit.css/inuit";
4: @import "globals/base";
5: @import "layouts/header";
6: @import "layouts/content_main_page";
7: 

Backtrace:
./stylesheets/layouts/header.scss:2
./stylesheets/style.scss:5
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `block in visit_import'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `map'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/sass-3.2.5/lib/sass/plugin/rack.rb:51:in `call'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/rack-1.5.0/lib/rack/lint.rb:49:in `_call'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/rack-1.5.0/lib/rack/lint.rb:37:in `call'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/rack-1.5.0/lib/rack/showexceptions.rb:24:in `call'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/rack-1.5.0/lib/rack/commonlogger.rb:33:in `call'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/rack-1.5.0/lib/rack/chunked.rb:43:in `call'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/rack-1.5.0/lib/rack/content_length.rb:14:in `call'
/Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/rack-1.5.0/lib/rack/handler/webrick.rb:60:in `service'
/Users/XXXVII/.rvm/rubies/ruby-1.9.3-p327-perf/lib/ruby/1.9.1/webrick/httpserver.rb:138:in `service'
/Users/XXXVII/.rvm/rubies/ruby-1.9.3-p327-perf/lib/ruby/1.9.1/webrick/httpserver.rb:94:in `run'
/Users/XXXVII/.rvm/rubies/ruby-1.9.3-p327-perf/lib/ruby/1.9.1/webrick/server.rb:191:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: ./*.png.\A               Load paths:\A                 Compass::SpriteImporter\A                 /Users/XXXVII/Work/aviasales.local/tp/tp_test/public/stylesheets/sass\A                 /Users/XXXVII/Work/aviasales.local/tp/tp_test/stylesheets\A                 /Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/XXXVII/.rvm/gems/ruby-1.9.3-p327-perf/gems/compass-0.12.2/frameworks/compass/stylesheets\A         on line 2 of ./stylesheets/layouts/header.scss\A         from line 5 of ./stylesheets/style.scss\A \A 1: @import \"vars\";\A 2: @import \"settings\";\A 3: @import \"inuit.css/inuit\";\A 4: @import \"globals/base\";\A 5: @import \"layouts/header\";\A 6: @import \"layouts/content_main_page\";\A 7: "; }
